<%- include('./header.ejs') %>


    <main>
        
        <!-- Slider Section 1-->
        <section>
            <div class="carousel slide" data-bs-ride="carousel" data-interval="1000" id="button">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#button" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#button" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#button" data-bs-slide-to="2"></button>
                    <button type="button" data-bs-target="#button" data-bs-slide-to="3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active ">
                        <img src="/image/slider images/allan_4x.jpg" alt="Resume" title="My Resume" class="Slider-image" />

                        <div class="carousel-caption">
                            <h2>"Let your resume tell the story of your success."</h2>
                            <p>welcome To ResumeCraft!</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/image/slider images/3f2d72156854263.636e449248a75.jpg" alt="Slider-image"
                            class="Slider-image" />
                        <div class="carousel-caption">
                            <h2>"Presenting you, authentically, through your resume."</h2>
                            <p>A team of passionate individuals!</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/image/slider images/work-1315232_1280.jpg" alt="Slider-image" class="Slider-image" />
                        <div class="carousel-caption">
                            <h2>"Stand out in the crowd with a standout resume."</h2>
                            <p>The most trusted brands!</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/image/slider images/f8ea05156444501.63678cf8333a9.jpg" alt="Slider-image"
                            class="Slider-image" />
                        <div class="carousel-caption">
                            <h2>"Elevate your career with a premium resume."</h2>
                            <p>Elctronics & Furniture!</p>
                        </div>
                    </div>

                </div>
                <div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#button" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>
        </section>
        <!-- Slider Section 1 End -->

        <!--Section 2 -->
        <!-- <section>
            <div class="container-fluid mt-4 mb-4">
                <h1 class="animate__animated animate__fadeInDown text-center heading">
                    Welcome To ResumeCraft!
                </h1>
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="intro animate__animated animate__fadeInLeft">

                                Welcome to ResumeCraft – your premier destination for crafting the perfect resume. Our
                                team at
                                ResumeCraft is dedicated to empowering individuals like you to showcase your skills and
                                experiences
                                effectively. With our user-friendly platform, you can effortlessly create professional
                                resumes tailored
                                to your unique strengths and career goals. Whether you're a seasoned professional or
                                just starting out,
                                ResumeCraft provides the tools and resources you need to stand out in today's
                                competitive job market.
                                Craft your career with confidence, only at ResumeCraft.
                            </p>
                            <div class="col-md-4 "></div>
                            <div class="col-md-4 col-lg-12">
                                <center><button class="btn-lg button1">
                                        Know More
                                    </button></center>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-4 m-hide">
                            <div class="card1">
                                <div class="card1-content">
                                    <h2>Create your Resume</h2>
                                    <p>This is the card content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

        <!--Section 2 End -->

        <!--Section 3 -->
        <section>
            <div class="container-fluid mt-4 mb-4">
                <h1 class="animate__animated animate__fadeInDown text-center">
                    Resume Templates!
                </h1>
                <hr>
                <div class="row">
                    <div class="col-md-2 col-sm-1"></div>
                    <div class="col-md-4 col-sm-5">
                        <div class="card mt-4">
                            <img src="https://simplify.jobs/blog/content/images/2022/08/image-24.png" alt=""
                                class="w-100">
                            <div class="card-img-overlay text-black text-center">
                                <h3 class="card-title">Single Column Templete</h3>
                                <p>Sleek, functional, ATS friendly!</p>
                                
                                <% if(!tok){ %>
                                    <a href="/login"><button class="btn ">Click me!</button></a>
                                    <% }else{ %>
                                        <a href="/indexform/resume_templates/template2"><button class="btn ">Click me!</button></a>
                                        <% } %>
                               
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-5">
                        <div class="card mt-4">
                            <img src="https://simplify.jobs/blog/content/images/2022/08/image-24.png" alt=""
                                class="w-100">
                            <div class="card-img-overlay text-center ">
                                <h3 class="card-title text-black  text-center ">Double Column Templete</h3>
                                <p>
                                    Clear, balanced, ATS-friendly.! </p>
                                    
                                     
                                <% if(!tok){ %>
                                    <a href="/login"><button class="btn ">Click me!</button></a>
                                    <% }else{ %>
                                        <a href="/indexform/resume_templates/template1"><button class="btn ">Click me!</button></a>
                                        <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-1"></div>
                   
                    <div class="col-md-2 col-sm-1"></div>
                </div>
            </div>
        </section>

        <!--Section 3 End -->

        <!-- FAQ's Section 4-->
        <div class="container-fluid">
            <div class="row online-mention">
                <div class="col-md-12 mt-3 mb-3">

                    <h2 class="text-center">Frequently Asked Questions</h2>

                </div>
                <hr>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 col-sm-12 scrollable mt-2 text-white">

                        <h5 class="fw-bold">What is a resume?</h5>
                        <span>"A resume is a document that provides a summary of a person’s work experience, skills,
                            education, and accomplishments. Resumes are typically used when applying for a job to
                            showcase an individual’s qualifications for a specific role."</span>
                        <hr>
                        <h5 class="fw-bold ">How long should a resume be?</h5>
                        <span>"The ideal length for a resume is generally one to two pages. Keep in mind that hiring
                            managers often have limited time to review applications, so keeping resumes as concise and
                            to the point as possible increases the chance that your resume gets noticed."</span>
                        <hr>
                        <h5 class="fw-bold ">How far back should a resume go?</h5>
                        <span>"Your personal summary and contact information should be at the very top of your resume,
                            followed by your most recent and relevant work experiences."</span>
                        <hr>
                        <h5 class="fw-bold ">What’s the recommended layout for a resume?</h5>
                        <span>"A resume is a document that provides a summary of a person’s work experience, skills,
                            education, and accomplishments. Resumes are typically used when applying for a job to
                            showcase an individual’s qualifications for a specific role."</span>
                        <hr>
                        <h5 class="fw-bold ">Is it free to create resumes in ResumeCraft?</h5>
                        <span>"You can make and save as many resumes as you’d like in ResumeCraft for free. Tons of free
                            resume templates are readily available for you to start customizing with your own
                            professional experiences and background to fit the industry you’re applying for."</span>
                        <hr>
                        <h5 class="fw-bold ">How do I add multiple pages to my resume?</h5>
                        <span>"To add multiple pages to your resume, duplicate your first page and use it as a template
                            to create the second. You can add as many pages to your resume as you’d like."</span>
                        <hr>
                        <h5 class="fw-bold ">What’s should I include in a professional resume?</h5>
                        <span>"Resumes are the perfect opportunity to tell recruiters who you are before you chat with
                            them. At first glance, your resume should include:

                            &#x2022;Your contact information.
                            &#x2022;A professional summary that shows them who you are.
                            &#x2022;All of your professional experiences, aligned to the job you’re applying for.
                            Skills, education, and notable projects.
                            Any certifications or qualifications."</span>
                        <hr>

                    </div>
                    <div class="col-md-1"></div>
                </div>

            </div>
        </div>
        <!-- FAQ's Section 4 End -->
        <!-- <a href="/controller-route/resume_templates/template2">Link</a> -->
    </main>




    <%- include('./footer.ejs') %> 