<footer>
      <div class="container-fluid mainfooter">

          <div class="container ">
              <div class="row  ">
                  <div class="col-md-4 mt-5">
                      <div class="text-center">
                          <a href="index.html">
                              <img src="/image/moblogo.png" alt="weblogo" class="m-hide footer-image" />
                              <img src="/image/desklogo.png" alt="weblogo" class="d-hide footer-image" />
                          </a>
                          <br><br>
                      </div>
                      <div class="text-center">
                          <a href="#" target="_blank" class="text-decoration-none">
                              <i class="icon fab fa-facebook-square fa-2x"></i>
                          </a>
                          &nbsp;&nbsp;
                          <a href="#" target="_blank" class="text-decoration-none">
                              <i class="icon fab fa-instagram fa-2x"></i>
                          </a>
                          &nbsp;&nbsp;
                          <a href="#" target="_blank" class="text-decoration-none">
                              <i class="icon fab fa-twitter fa-2x"></i>
                          </a>&nbsp; &nbsp;
                          <a href="#" target="_blank" class="text-decoration-none">
                              <i class="icon fab fa-linkedin fa-2x"></i>
                          </a>
                      </div>
                  </div>
                  <div class="col-sm-6 col-md-4 mt-5 text-center">
                      <b>
                          <p>Build Your Resume</p>
                      </b>
                      <ul>
                          <li><a href="#" class="text-decoration-none">
                                  <p>Basic Resume Examples</p>
                              </a></li>
                          <li><a href="#" class="text-decoration-none">
                                  <p>How To Write a Resume</p>
                              </a></li>
                          <li><a href="#" class="text-decoration-none">
                                  <p>Resume Examples</p>
                              </a></li>
                          <li><a href="#" class="text-decoration-none">
                                  <p>Resume Templates</p>
                              </a></li>
                      </ul>
                  </div>
                  <div class="col-sm-6 col-md-4 mt-5 text-center">
                      <b>
                          <p>About ResumeCraft</p>
                      </b>
                      <ul>
                          <li><a href="#" class="text-decoration-none">
                                  <p>About Us</p>
                              </a></li>
                          <li><a href="#" class="text-decoration-none">
                                  <p>Contact Us</p>
                              </a></li>
                          <li><a href="#" class="text-decoration-none">
                                  <p>Privacy Policy</p>
                              </a></li>
                          <li><a href="#" class="text-decoration-none">
                                  <p>Terms of services</p>
                              </a></li>
                      </ul>
                  </div>
              </div>
              <div class="row mt-5 ">
                  <div class="col-md-12 text-center ">
                      <b>
                          <p>Copyright © 2024 All rights reserved ResumeCraft</p>
                      </b>
                  </div>
              </div>
          </div>
      </div>
  </footer>




  <!-- JavaScript link -->
  <script src=" script.js"></script>
</body>

</html>